<div id="page">
      <div id="content">
        
          <div id="header">
              <h2>[% title %]</h2>
          </div>

            <h3> Select sections you wish to complete! </h3>

            [% FOREACH section IN sections %]
                [% section %] <input type="checkbox" id="[% section %]" /><br />
            [% END %]

            <br />
    
            <input type="submit" value="Start quiz!" />

        </div>
      </div>
    </div>
