<div id="page">
      <div id="content">
        
          <div id="header">
              <h2>[% title %]</h2>
          </div>

            <h3>Section [% section %]</h3>
	    <form id="answer_question" method="POST" autocomplete="off">
	    <p>How do you say "[% question %]" in cantonese?</p>
	    <input type="text" id="question" name="question" />
	    <br /><br />
            <input type="submit" value="Next" />
            </form>

        </div>
      </div>
    </div>
